@import "./variables";
@import "./main";

@mixin centerAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-size: 15px;
  background-color: $mainBodyBackground;
}


h1,h2,h3,h4,h5,h6 {
    font-family: $headFont;
}
header {
  background: $accentColor;
  display: flex;
  position: fixed;
    align-items: center;
    justify-content: center;
  top: 0px;
  padding: 4px 12px;
  width: 100%;

  &::before {
    content: "";
    display: table;
    clear: both;
  }

  h3 {
    font-family: $headFont;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    padding: 4px 8px;
    margin-left: 10px;
  }
}


.bottomButton {

    position: fixed;
    bottom: 20px;
    right: 25px;
    
    

    .actionButton {
        background-color: $primaryColor;
        color: black;    
        cursor: pointer;
        font-size: 28px;
        border-radius: 50%;
        padding: 7px;
        width: 50px;
        height: 50px;
        
        transition: 0.4s ease;
      
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          transform: scale(1.04);
          color: white;
        }
      }
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .close {
    color: #fff;
    float: right;
    font-size: 5rem;
    font-weight: bolder;
    margin-right: 50px;
    cursor: pointer;
  }

  .modalcontent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 70vh;

    h1 {
        margin-top: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        font-family: $bodyFont;
        height: 80%;
        justify-content: space-evenly;
        align-items: center;

        fieldset {
            padding-bottom: 0px;
        }

        textarea {
            font-family: $bodyFont;
            font-size: 16px;
            margin:10px;
            outline: none;
            border: 0px;
        }

        input {
            margin:10px;
            font-size: 16px;
            outline: none;
            border:0px
        }
      }

  }

  
}

.snackbar {
  position: fixed;
  bottom: -100px;
  right: 20px;
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 20px;
  padding: 10px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.error {
  background-color: rgba(218, 23, 23, 0.9) !important;
}

select {
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
  margin: 5px;
  font-family: $bodyFont;
  border-radius: 5px;

  option {
    &:hover {
      background-color: gray;
    }
  }
}

button {
  padding: 3px 15px;
  margin: 2px;
  font-size: 16px;
  font-family: $bodyFont;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  background-color: $primaryColor;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;

  &:hover {
    padding: 5px 20px;
  }
}

fieldset {
  border-radius: 10px;
  padding-bottom: 10px;
  margin: 3px 5px;

  legend {
    margin-left: 20px;
    font-size: 14px;
    font-family: $headFont;
  }

  select {
    border: 0px;
    width: 95%;
    font-size: 16px;
    margin: 0px;
  }
}

#instruction {
    li {
        margin:5px;
    }
}