.main {
  background-color: #f1f1f1;
  position: fixed;
  top: 50px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main .left-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  height: calc(100vh - 60px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 39%;
  padding: 20px 10px;
}

.main .left-pane .utilities {
  background-color: white;
  content: " ";
  border-radius: 20px;
  margin: 5px 10px;
  padding: 5px 10px;
}

.main .left-pane .utilities .calenderDate fieldset {
  width: 40%;
  display: inline-block;
}

.main .left-pane .utilities .calenderDate button {
  position: relative;
  right: 0px;
}

.main .right-pane {
  background-color: white;
  content: " ";
  border-radius: 20px;
  margin: 5px 10px;
  max-height: calc(100vh - 90px);
  width: 59%;
  padding: 5px 16px;
}

.main .right-pane .details {
  height: 90%;
  overflow-y: auto;
}

.main .right-pane .details::-webkit-scrollbar {
  width: 5px;
}

.main .right-pane .details::-webkit-scrollbar-thumb {
  background-color: black;
}

.main .right-pane .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  padding: 10px 0px;
  font-family: "Poppins", sans-serif;
}

.main .right-pane .cards {
  background-color: #f9d436;
  font-family: "Questrial", sans-serif;
  margin: 10px;
  padding: 8px 16px;
  min-width: 24.44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 10px;
}

.main .right-pane .cards i {
  font-size: 42px;
}

.main .right-pane .cards .pallete p {
  margin: 5px;
  font-size: 18px;
}

.main .right-pane .cards .pallete span {
  margin: 5px;
  font-size: 24px !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-size: 15px;
  background-color: #f1f1f1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

header {
  background: #2ddeb5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0px;
  padding: 4px 12px;
  width: 100%;
}

header::before {
  content: "";
  display: table;
  clear: both;
}

header h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  margin: 0px;
  padding: 4px 8px;
  margin-left: 10px;
}

.bottomButton {
  position: fixed;
  bottom: 20px;
  right: 25px;
}

.bottomButton .actionButton {
  background-color: #f9d436;
  color: black;
  cursor: pointer;
  font-size: 28px;
  border-radius: 50%;
  padding: 7px;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.bottomButton .actionButton:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .close {
  color: #fff;
  float: right;
  font-size: 5rem;
  font-weight: bolder;
  margin-right: 50px;
  cursor: pointer;
}

.modal .modalcontent {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fefefe;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 70vh;
}

.modal .modalcontent h1 {
  margin-top: 20px;
}

.modal .modalcontent form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  margin: 10px;
  font-family: "Questrial", sans-serif;
  height: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modalcontent form fieldset {
  padding-bottom: 0px;
}

.modal .modalcontent form textarea {
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  margin: 10px;
  outline: none;
  border: 0px;
}

.modal .modalcontent form input {
  margin: 10px;
  font-size: 16px;
  outline: none;
  border: 0px;
}

.snackbar {
  position: fixed;
  bottom: -100px;
  right: 20px;
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 20px;
  padding: 10px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.error {
  background-color: rgba(218, 23, 23, 0.9) !important;
}

select {
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
  margin: 5px;
  font-family: "Questrial", sans-serif;
  border-radius: 5px;
}

select option:hover {
  background-color: gray;
}

button {
  padding: 3px 15px;
  margin: 2px;
  font-size: 16px;
  font-family: "Questrial", sans-serif;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  background-color: #f9d436;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

button:hover {
  padding: 5px 20px;
}

fieldset {
  border-radius: 10px;
  padding-bottom: 10px;
  margin: 3px 5px;
}

fieldset legend {
  margin-left: 20px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

fieldset select {
  border: 0px;
  width: 95%;
  font-size: 16px;
  margin: 0px;
}

#instruction li {
  margin: 5px;
}
/*# sourceMappingURL=style.css.map */